<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Awesomeness Motor Designer</title>
</head>

<body>
    <h1>
        Awesomeness Motor Designer by the <strong>Kanci Team</strong>
    </h1>
    <form action="/calculate/torque/" method="post">
        <label for="pn">Pn [kW]:</label><br>
        <input type="number" id="pn" name="pn"><br>
        <label for="speed">speed [rpm]:</label><br>
        <input type="number" id="speed" name="speed">
        <input type="submit" value="Calculate">
    </form>
</body>
</html>
